<div class="contact" >
  <% provide(:title, "Contact") %>
  <h1>Contact</h1>
  <p>
    Contact someone to help you...
    <% et_url = "https://twatter-sample-bucket.s3.eu-central-1.amazonaws.com/et-nach-hause-telefonieren.jpeg"%>
    <%= image_tag(et_url, alt:"E.T. nach hause telefonieren", width: "100%") %>
  </p>
</div>