<div class="contact" >
  <% provide(:title, "Contact") %>
  <h1>Contact</h1>
  <p>
    Contact someone to help you...
    <%= image_tag("et-nach-hause-telefonieren.jpeg", alt:"E.T. nach hause telefonieren", width: "100%") %>
  </p>
</div>