@import "bootstrap-sprockets";
@import "bootstrap";

/* WELCOME TO THE MOST MESSY SCSS FILE. THIS WILL NEED A LOT OF REFACTORING */

/*   ↓↓↓   This a function for a color-gradient that might be used at some point */

// background-image: linear-gradient(
//   45deg,
//   hsl(68deg, 78%, 52%) 0%,
//   hsl(85deg, 76%, 59%) 9%,
//   hsl(110deg, 71%, 65%) 18%,
//   hsl(142deg, 72%, 59%) 27%,
//   hsl(162deg, 100%, 43%) 36%,
//   hsl(170deg, 100%, 42%) 45%,
//   hsl(177deg, 100%, 41%) 55%,
//   hsl(183deg, 100%, 41%) 64%,
//   hsl(187deg, 100%, 43%) 73%,
//   hsl(190deg, 100%, 43%) 82%,
//   hsl(197deg, 66%, 56%) 91%,
//   hsl(205deg, 54%, 61%) 100%
// );

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  color: lightgray;
  background-color: black;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  color: #222;
  border-radius: 5px;
}

span {
  position: relative;
}

form {
  padding: 10px 20px;
}

a {
  color: $gray-medium-light;
}

a:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.btn {
  font-weight: bold;
  color: black;
  background-color: $gray-medium-light;
  font-weight: bold;
}

.btn:hover {
  font-weight: bold;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.btn-primary:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.center {
  text-align: center;
  color: white;
  background-color: black;
  border: 1px solid white;
  margin-bottom: 200px;
  h1 {
    margin-bottom: 10px;
  }
  .btn {
    border: none;
  }
  .btn:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-medium-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar {
  background-color: black;
}

.nav {
  text-align: right;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: white;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    &:first-child {
      // border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      padding-top: 10px;
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    img {
      padding: 10px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 50%;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  a {
    float: none;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
    }
  }
  strong {
    display: inline-block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
    padding: 5px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #000;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 25px;
    font-weight: normal;
  }
}

// .row {
//   margin-bottom: 100px;
//   p {
//     margin-left: 20px;
//   }
// }

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Pagination controls styling */

.digg_pagination {
  cursor: default;
  font-size: 0.7em;
  text-align: center;
  background-color: black;
  /* self-clearing method: */
}
.digg_pagination a,
.digg_pagination span,
.digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}
.digg_pagination .disabled {
  color: #999999;
  // border: 2px solid #dddddd;
  // border-radius: 5px;
}
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: white;
  // border: 2px solid grey;
  // border-radius: 5px;
}
.digg_pagination a {
  text-decoration: none;
  color: white;
  // border: 2px solid $gray-medium-light;
  // border-radius: 5px;
}
.digg_pagination a:hover,
.digg_pagination a:focus {
  color: #000033;
  // border-color: #000033;
  // border-radius: 5px;
}
.digg_pagination .page_info {
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}
.digg_pagination .page_info b {
  color: #000033;
  padding: 0.1em 0.25em;
}
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .digg_pagination {
  height: 1%;
}
*:first-child + html .digg_pagination {
  overflow: hidden;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid grey;
  }
  a {
    color: lightgray;
    font-weight: bold;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 10px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}
